*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
 font-family: 'Merriweather', serif;;
}

.two-section{
    display: flex;
    padding: 50px;
    margin-bottom: 0px;
}

.half{
    width: 50%;
}

.half img{
    width: 80%;
    margin: 0px auto;
}


/*First section*/
.f-sec-l {
    padding-right:20px ;
}

.f-sec-l h1{
    
    font-size: 38px;
    line-height: 1.6;
}

.f-sec-l p{
    color: rgb(119, 112, 112);
    font-weight: 300;
    text-align: justify;
    padding: 30px 0px;
    padding-right: 20px;
    padding-bottom: 50px;
    font-size: 14px;
}

.f-sec-l .button{
    padding: 10px 30px;
    background: linear-gradient(90deg, #0162c8,#55e7fc);
    border-radius: 40px;
    color: white;
    text-decoration: none;
    margin-top: 40px;
    
}

.f-sec-r img{
    margin-left: 50px;
}

/*Second section start*/

.second-section{
    padding: 40px;
    display: flex;
    background: url(images/bg.jpg);
    background-size: cover;
    
    width: 100%;

}

.sec-sec-l{
    padding-right:20px ;
    
}

.sec-sec-l img{
    width: 70%;
}

.three-box{
    margin-top: 50px;
    display: flex;
    padding: 0px 40px;
}

.box-3{
    width: 33.33%;
    margin: 0px 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    padding: 30px;
}

.box-3 h4{
    padding: 10px 0px;
}

.box-3 p{
    font-size: 12px;
    font-weight: 200px;
    text-align: justify;
    color: rgb(105, 99, 99);
}

.box-3 img{
    width: 90%;
    border-radius: 10px;
}
.box-3-img {
   
    text-align: center;
}

.third-sec-p{
    width: 500px; 
    margin: 20px auto; 
    font-size: 14px; 
    color: rgb(95, 89, 89);
}


@media only screen and (max-width: 980px){

    .two-section{
        display: block;
    }
    .f-sec-l h1{
        font-size: 25px;;
    }

    .f-sec-l p{
        font-size: 13px;
        font-weight: 100;
    }

    .f-sec-r{
        margin-top: 30px;
    }

    .button{
        font-size: 12px;
    }
    

    .half{
        width: 100%;
    }


    .second-section{
        display: block;
    }
    .s-s-r{
        margin-top: 20px;
    }



    .three-box{
        display: block;
    }

    .third-sec-p{
        width: auto;
        padding: 10px 30px;
        text-align: justify;
    }

    .box-3{
        width: 100%;
        margin: 20px auto;
    }

    .s-s-i{
        text-align: center;
    }

}
